/*#DF3435
#43749E
#F7CA10

video background for colours: https://www.youtube.com/watch?v=UpNTwXycNww
*/

body {
    width: 100%;
    height: 100%;
    font-family: "Montserrat", Helvetica, sans-serif;
    color: black;
    background-color: #fff;
    overflow-x: hidden;
}
html {
    width: 100%;
    height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway", Helvetica, sans-serif;
    margin: 0 0 35px;
    text-transform: uppercase;
    font-weight:700;
}
p {
    margin: 0 0 25px;
    font-size: 18px;
    line-height: 1;
}

@media (min-width: 768px) {
    p {
        margin: 0 0 35px;
        font-size: 20px;
        line-height: 1.6;
    }
}
a {
    color: orangered;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
a:hover,
a:focus {
    text-decoration: none;
    color: orangered;
}
.red{
    color:#DF3435;
    font-size: 9vw;
}
.blue{
    color:#43749E;
    font-size: 9vw;
}
.yellow{
    color:#F7CA10;
    font-size: 9vw;
}
.light {
    font-weight: 400;
}
.vertical-centre{
    position: absolute;
    width:100%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    /*top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate((-50%,-50%);*/
}
.intro {
    width: 100%;
    height: 100%;
    padding:0;
    text-align: center;
    color: white;
    position:relative;
    overflow: hidden;
}
.intro video{
    position:absolute;
    width:auto;
    height:100%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: -1;
}
.intro a{
    position: absolute;
    bottom:30px;
    left:50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}
#continue-txt{
    font-size: 18px;
}
.intro .col-sm-12{
    position: absolute;
    text-align: center;
    margin:0;
    padding:0;
    width:100%;
    top:30%;
}
.intro .col-sm-12 h1 {
    font-size: 10vh;
    opacity: 0;
    margin:0;
}
.intro .col-sm-12 p {
    font-size: 3vh;
    opacity: 0;
    margin:0;
}
@media (min-width: 768px) {
    .intro {
        height: 100%;
        padding: 0;
    }
    .intro video{
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
    }
}
.btn-circle {
    width: 100%;
    height: 70px;
    margin-top: 15px;
    padding: 7px 16px;
    font-size: 40px;
    color: white;
    background: transparent;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out;
}
.btn-circle:hover,
.btn-circle:focus {
    outline: none;
    color: white;
}
.btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}
.btn-circle i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}
@-webkit-keyframes pulse {
    0 {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
@-moz-keyframes pulse {
    0 {
        -moz-transform: scale(1);
        transform: scale(1);
    }
    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }
    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}
.content-section {
    padding: 50px 10px;
}
#about-section-1{
    background: url("../img/desk.jpg") no-repeat center center;
    background-color: #F0F0F0;
    background-size:cover;
    padding:70px 30px 40px;
    color:white;
}
.about-header{
    font-size:5.8vw;
}
.about-header-2{
    font-size:8vw;
}
#about p{
    font-family: "Raleway", Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight:700;
    margin: 0 0 35px;
    line-height: normal;
}
#about-section-1 p{
    width:50%;
}
#about-section-2{
    position: relative;
}
#triangle-top-left {
  width: 0;
  height: 0;
  border-top: 100vw solid white;
  border-right: 100vw solid transparent;
  position: absolute;
}
#day{
    position: relative;
    z-index: 2;
    color:skyblue;
    right:16vw;
    top:5vw;
}
#day i {
    color:#F7CA10;
}
#night{
    position: relative;
    z-index: 2;
    color:darkslategrey;
    top:10vw;
    left:14vw;
}
#night i {
    color:#01015A;
}
footer {
    padding: 25px 0;
    background-color: #222;
    width:100%;
}
footer p, footer a {
    margin:25px 0;
    color: #BBB;
    font-size: 14px;
}
footer a.pull-right{
    color:#ff9933;
}
footer a:hover,
footer a:focus {
    text-decoration: none;
    color:#cc6600;
}
::-moz-selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255, 255, 255, 0.2);
}
::selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255, 255, 255, 0.2);
}
img::selection {
    background: transparent;
}
img::-moz-selection {
    background: transparent;
}
body {
    webkit-tap-highlight-color: rgba(255, 255, 255, 0.2);
}
#buy{
    background: white;
    width:100%;
}
.option-row{
    padding:5px 0 0;
}
.img-box{
    height:565px;
    padding:5px 0;
}
.img-box div{
    background: #eee;
    height: 100%;
}

.option-box{
    background-color: #EEE;
    height: 100%;
    width:100%;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    border-bottom:5px solid #EEE;
}
.option-box p{
    padding: 40px 0 0;
}
.option-box i{
    color: #999;
    margin-bottom: 10px;
}
.option-box:hover,.option-box:focus{
    background-color: #D8D8D8;
    color:orangered;
    border-bottom:5px solid orangered;
}
.option-box.active{
    background-color: #D8D8D8;
    color:orangered;
    border-bottom:5px solid orangered;
}
.colour-group.middle{
    margin:50px 0px;
}
label{
    font-size: 18px;
}
.sel-outer{
    width:100%;
    height: 100%;
    background-color:#EEE;
}
#option-col-1{
    padding:0;
}
#option-col-2{
    height: 565px;
    padding: 5px 5px 4px;
}
#colour-sel{
    height: 100%;
    width: 100%;
}
#size-sel, #checkout-sel{
    display: none;
}
@media (min-width: 768px) {
    .content-section {
        padding: 70px 0px;
    }
    #about-section-1{
        padding: 150px 50px;
    }
    footer p, footer a {
        font-size: 20px;
    }
    #buy h2{
        font-size: 40px;
    }
}
@media (min-width: 1200px) {
    #product-container{
        width:1100px;
        margin:auto;
    }
}
.control {
	position: relative;
	display: block;
	margin-bottom: 15px;
	padding-left: 45px;
	cursor: pointer;
    display: inline-block;
}
.control input {
	position: absolute;
	z-index: -1;
	opacity: 0;
}
.control__indicator {
	position: absolute;
	top: 2px;
	left: 0;
	width: 40px;
	height: 40px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.control__indicator.colour1 {
    background-color: red;
}
.control__indicator.colour2 {
    background-color: blue;
}
.control__indicator.colour3 {
    background-color: yellow;
}
.control__indicator.colour4 {
    background-color: limegreen;
}
.control__indicator.colour5 {
    background-color: orange;
}
.control__indicator.size {
    background-color: #d8d8d8;
    display: table;
}
.control__indicator.size p{
    display: table-cell;
    font-size: 22px;
    vertical-align: middle;
}

/* Hover and focus states */
.control:hover input ~ .control__indicator.colour1,
.control input:focus ~ .control__indicator.colour1 {
    background-color: darkred;
}
.control:hover input ~ .control__indicator.colour2,
.control input:focus ~ .control__indicator.colour2 {
    background-color: darkblue;
}
.control:hover input ~ .control__indicator.colour3,
.control input:focus ~ .control__indicator.colour3 {
    background-color: goldenrod;
}
.control:hover input ~ .control__indicator.colour4,
.control input:focus ~ .control__indicator.colour4 {
    background-color: darkgreen;
}
.control:hover input ~ .control__indicator.colour5,
.control input:focus ~ .control__indicator.colour5 {
    background-color: darkorange;
}
.control:hover input ~ .control__indicator.size,
.control input:focus ~ .control__indicator.size {
    background-color: #bbb;
}
/* Checked state */
.control input:checked ~ .control__indicator {
    outline:4px solid #ccc;
}
.control input:checked ~ .control__indicator.size {
    outline:4px solid #bbb;
}
/* Disabled state */
.control input:disabled ~ .control__indicator {
	pointer-events: none;
	opacity: .6;
	background: #e6e6e6;
}
/* Disabled circle colour */
.control--radio input:disabled ~ .control__indicator:after {
	background: #7b7b7b;
}
@media (min-width: 768px) {
    .control {
    	padding-left: 40px;
    }
    .control__indicator {
        width: 35px;
        height: 35px;
    }
}
@media (min-width: 992px) {
    .control {
    	padding-left: 45px;
    }
    .control__indicator {
    	width: 40px;
    	height: 40px;
    }
}
